---
import { Users } from "astro:db";
import { db } from "astro:db";

const users = await db.select().from(Users);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<section>
			<ul>
				{users.map((data) => <li>{data.user}</li>)}
			</ul>
		</section>
		<form id="registerForm">
			<input id="username" type="text" placeholder="Luis Pasten..." />
			<input id="password" type="password" placeholder="123456..." />
			<button>Registrar usuario</button>
		</form>
		<script>
			document.addEventListener("DOMContentLoaded", () => {
				const form =
					document.querySelector<HTMLFormElement>("#registerForm");
				async function register(e: SubmitEvent) {
					e.preventDefault();

					const userNameElement =
						document.querySelector<HTMLInputElement>("#username");
					const passwordElement =
						document.querySelector<HTMLInputElement>("#password");

					if (userNameElement && passwordElement) {
						const userName = userNameElement.value;
						const password = passwordElement.value;
						try {
							const response = await fetch("/api/endpoint", {
								method: "POST",
								headers: {
									"Content-Type": "application/json",
								},
								body: JSON.stringify({
									username: userName,
									password: password,
								}),
							});

							if (!response.ok) {
								throw new Error("Network response was not ok");
							}

							const data = await response.json();
							console.log(data);
						} catch (error) {
							console.error(
								"There was a problem with the fetch operation:",
								error,
							);
						}
					} else {
						console.error("Elementos no encontrados en el DOM");
					}
				}

				if (form) {
					form.addEventListener("submit", register);
				}
			});
		</script>
	</body>
</html>
