---
import BaseLayout from "../layouts/BaseLayout.astro";
import AboutSection from "../components/AboutSection.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
import EducationSection from "../components/EducationSection.astro";
import BlogSection from "../components/BlogSection.astro";
import SkillsSection from "../components/SkillsSection.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import GoogleIcon from "../icons/GoogleIcon.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import FooterSection from "../components/FooterSection.astro";
---

<BaseLayout>
    <main>
        <section class="container">
            <AboutSection />
            <section class="right-side">
                <section class="right-container">
                    <ExperienceSection />
                    <EducationSection />
                </section>
            </section>
        </section>
        <BlogSection />
        <SkillsSection />
    </main>
    <FooterSection />
</BaseLayout>
<style>
    main {
        max-width: 1240px;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding: 4rem 0;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1.5rem;
    }
    .right-side {
        grid-column: span 8;
    }
    .right-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    @media (width < 800px) {
        main {
            max-width: 100%;
        }
        .container {
            display: flex;
            flex-direction: column;
            gap: 4rem;
        }
    }
</style>
