---
import SectionTitle from "./SectionTitle.astro";
import Tag from "./Tag.astro";
---

<section id="educacion">
    <SectionTitle
        name="Educación"
        description="Conoce los desafiós y trabajos en los cuales me eh desempeñado"
    />
    <section class="education">
        <article class="section-shape">
            <header>
                <img src="" alt="" />
            </header>
            <section>
                <header>
                    <p class="education__year">2021 - 2024</p>
                    <h2 class="education__title">
                        Desarrollo y diseño web - Duoc UC
                    </h2>
                </header>
                <p>
                    Fui capacitado para desarrollar maquetas y prototipos
                    funcionales e interactivos de interfaces web a partir de la
                    identificación de necesidades de clientes y/o usuarios
                    integrando técnicas de arquitectura de la información,
                    criterios de diseño, usabilidad, accesibilidad y lenguajes
                    de programación
                </p>
            </section>
            <footer>
                <Tag tagname="Wordpress" />
                <Tag tagname="Javascript" />
                <Tag tagname="PHP" />
                <Tag tagname="CSS" />
                <Tag tagname="HTML" />
                <Tag tagname="Adobe XD" />
            </footer>
        </article>
        <article class="section-shape">
            <header>
                <img src="" alt="" />
            </header>
            <section>
                <header>
                    <p class="education__year">2015 - 2019</p>
                    <h2 class="education__title">
                        Ingeniería civil informática - Universidad del Bio Bio
                    </h2>
                </header>
                <p>
                    Fui capacitado para comprender la problemática
                    organizacional en el ámbito de la informática y a partir de
                    ello plantear y desarrollar soluciones pertinentes a traves
                    de la Ingeniería de software, bases de datos y gestión
                    informática.
                </p>
            </section>
            <footer>
                <Tag tagname="C" />
                <Tag tagname="Java" />
                <Tag tagname="Javascript" />
                <Tag tagname="HTML" />
                <Tag tagname="CSS" />
                <Tag tagname="PHP" />
                <Tag tagname="Bases de datos" />
            </footer>
        </article>
    </section>
</section>
<style>
    p {
        color: #ffffff80;
    }
    footer {
        padding: 1rem 0;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }
    .education {
        margin: 1rem 0 1rem 0;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .education__year {
        color: var(--primary-color);
        font-weight: 600;
    }
    header {
        margin-bottom: 0.25rem;
    }
</style>
