---
import Logo from "../assets/luis.jpg";
---

<nav id="responsiveNavbar" class="moveRight">
    <div class="buttonClose__container">
        <button id="close"
            ><svg
                width="32px"
                height="32px"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <g id="Menu / Close_MD">
                    <path
                        id="Vector"
                        d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18"
                        stroke="#FFF"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </g>
            </svg></button
        >
    </div>
    <ul>
        <li>
            <a href="/#sobremi">Sobre mí</a>
        </li>
        <li>
            <a href="/#experiencia">Experiencia</a>
        </li>
        <li>
            <a href="/#educacion">Educación</a>
        </li>
        <li>
            <a href="/#proyectos">Proyectos</a>
        </li>
        <li>
            <a href="/#habilidades">Habilidades</a>
        </li>
        <a class="call-to-action" href="">Trabajemos juntos</a>
    </ul>
</nav>
<script>
    document.querySelector("#close")?.addEventListener("click", () => {
        document.querySelector("#responsiveNavbar")?.classList.add("moveRight");
    });
</script>
<style>
    .moveRight {
        transform: translateX(1000px);
    }
    .buttonClose__container {
        width: 100%;
        text-align: right;
        margin-bottom: 12rem;
    }
    #close {
        background-color: transparent;
        color: white;
        font-size: 2rem;
        border: none;
        padding: 1rem;
        margin-top: 1rem;
        cursor: pointer;
    }
    nav {
        position: fixed;
        height: 100dvh;
        width: 70%;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        background: radial-gradient(
            circle,
            rgb(17, 55, 77) 0%,
            rgba(3, 9, 13, 1) 100%
        );
        z-index: 100;
        transition: all 300ms linear;
    }
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-direction: column;
    }
    a {
        text-decoration: none;
        color: white;
        font-weight: 500;
    }
    .call-to-action {
        display: inline-block;
        color: white;
        padding: 1rem;
        background-color: var(--primary-color);
        border-radius: 0.5rem;
    }
    .logo {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 0.5rem;
        padding: 0.5rem;
        display: flex;
        align-items: center;
    }
    .logo span {
        display: inline-block;
        padding: 0 1rem;
        color: var(--primary-color);
        font-weight: 600;
    }
    img {
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        border-radius: 100%;
        object-position: center;
    }
    @media (min-width: 769px) {
        nav {
            display: none;
        }
    }
</style>
