---
const { name, description } = Astro.props;
---

<header>
    <h2>{name}</h2>
    <p>{description}</p>
</header>

<style>
    header {
        width: 100%;
    }
    h2 {
        background: var(--title-color);
        background-clip: text; /* Recorta el fondo al texto */
        -webkit-text-fill-color: transparent; /* No funciona en navegadores modernos */
        text-fill-color: transparent; /* Reemplaza para navegadores modernos */
        font-weight: 800;
    }
</style>
