---
const { skillName, skillImage } = Astro.props;
---

<a href=`/tags/${skillName}` class="section-shape">
    <img src={skillImage} alt=`Logo de ${skillName}` />
    <span>{skillName}</span>
</a>
<style>
    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 180px;
        padding: 0;
        color: white;
    }
    img {
        height: 75px;
        width: 75px;
        object-fit: contain;
        object-position: center;
        margin-bottom: 1rem;
    }
</style>
