---
import SectionTitle from "./SectionTitle.astro";
import SkillCard from "./SkillCard.astro";
import { getEntry, z } from "astro:content";
import { Skill } from "../schemas/skills.ts";
const skills = await getEntry("skills", "skills");
type SkillType = z.infer<typeof Skill>;
---

<section id="habilidades">
    <SectionTitle
        name="Habilidades"
        description="Lenguajes de programación, programas y habilidades blandas que utilizo en mi trabajo"
    />
    <section class="skills">
        {
            skills.data.map((skill: SkillType) => (
                <SkillCard skillName={skill.name} skillImage={skill.image} />
            ))
        }
    </section>
</section>
<style>
    .skills {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 1.5rem;
    }
</style>
