---
import CommonHead from "../components/CommonHead.astro";
import Navbar from "../components/Navbar.astro";
import NavbarResponsive from "../components/Navbar__responsive.astro";
// Supports weights 100-900
import "@fontsource-variable/inter";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <CommonHead />
    <body>
        <NavbarResponsive />
        <Navbar />
        <slot>
            <h1>No se logro encontrar el contenido</h1>
        </slot>
    </body>
</html>
