---
import CommonHead from "../components/CommonHead.astro";
import Navbar from "../components/Navbar.astro";
import "@fontsource-variable/inter";
import "../styles/global.css";

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<!doctype html>
<html lang="en">
    <CommonHead />
    <body>
        <Navbar />
        <section class="post-container">
            <section class="post">
                <h1>{entry.title}</h1>
                <Content />
            </section>
            <aside class="aside"></aside>
        </section>
        <style>
            .post-container {
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                gap: 1rem;
            }
            .post {
                grid-column: span 8;
            }
            .aside {
                grid-column: span 4;
            }
        </style>
    </body>
</html>
